spikingjelly_alias
*.png
*.csv
*.aedat
*.npz
*.npy
#Quitar archivos .txt dentro de subcarpetas de data
data/**/*.txt
#Quitar imagenes .jpg correspondientes a instancias 
data/**/*.jpg
data/**/*.json
data/DVS_Gesture_dataset/extract/
/**/*.DS_Store
*.DS_Store
*.rar
*.gz
data/Actions_Dataset
/**/*.pyc
src/result_logs
src/wandb
src/gifs_*
src/my_rpg_e2vid/pretrained/*.tar
src/*.gif
src/.vscode/
