spikingjelly_alias
*.csv
*.aedat
*.npz
#Quitar archivos .txt dentro de subcarpetas de data
data/**/*.txt 
/**/*.DS_Store
*.DS_Store
*.rar
*.gz
data/Actions_Dataset
/**/*.pyc
src/result_logs
src/wandb
src/gifs_*
src/rpg_e2vid
src/*.gif
